# NGINX
DOMAIN_NAME=<change-me>
CERTIF_NAME=<change-me>

# MYSQL SETUP
MYSQL_PORT=<change-me>
MYSQL_USER=<change-me>
MYSQL_HOST=<change-me>
MYSQL_NAME=<change-me>
MYSQL_USER_PASSWORD=<change-me>
MYSQL_ROOT_PASSWORD=<change-me>