# NGINX
DOMAIN_NAME=<change-me>
CERTIF_NAME=<change-me>

# MYSQL SETUP
MARIADB_PORT=<change-me>
MARIADB_USER=<change-me>
MARIADB_HOST=<change-me>
MARIADB_NAME=<change-me>
MARIADB_USER_PASSWORD=<change-me>
MARIADB_ROOT_PASSWORD=<change-me>