Types: deb
URIs: {{ docker_apt_uri }}
Suites: {{ ansible_distribution_release }}
Components: {{ docker_apt_components }}
Architectures: {{ docker_architecture.stdout }}
Signed-By: {{ docker_gpg_dest }}