[defaults]
inventory = inventory.yaml
host_key_checking = True
interpreter_python = auto_silent
vault_password_file = .vault_password

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, amazon.aws.aws_ec2
